@charset "UTF-8";

/* Configurações globais das CSS*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to bottom, #0FC2C0, #0CABA8, #008F8C, #015958);
    background-attachment: fixed; 
}

main{
    background-color: white;
    border-radius: 10px; /*borda*/
    box-shadow: 5px 5px 10px rgba(2, 53, 53, 1);
    /*quanto a sombra vai andar pro lado/ " pra baixo/ quanto vai espalhar/ tranparência*/
    width: 500px; /*largura*/
    padding: 90px; /*acolchoamento*/
    margin: auto; /*centralizar*/
}

h1{
    color: #023535;
    text-align: center; /*alinhamento*/
    text-shadow: 1px 1px 2px rgb(33, 107, 107); /*sombra*/
}

h2 {
    color: #086866;
}

p {
    text-align: justify; /*arrumar nos cantinhos*/
}